{% extends 'students/base.html' %}

<!-- Load Static -->
{% load static %} {% load bootstrap4 %}
<!-- Title Heading -->
{% block title %}View Attendance{% endblock title %}

<!-- Start Content Block -->
{% block content %}
<div class="container-fluid">
    {% if messages %} {% for message in messages %} {% if message.tags == 'error' %}
    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
    {% endif %} {% if message.tags == 'success' %}
    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %}
    <h1 style="font-weight: bold;">{{ classroom.subject|upper }}</h1>
    <div class="col-sm-12">

        <div class="row">
            <div class="col">
                <center>
                    <form method="get"> {{ myFilter.form }}
                        <button class="btn btn-info" type="submit">Search</button>
                    </form>
                </center>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-body shadow-lg" style="overflow-x:auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Student</th>
                                <th scope="col">Student ID</th>
                                <th scope="col">Course</th>
                                <th scope="col">Grade/Year</th>
                                <th scope="col">Block/Section</th>
                                <th scope="col">Subject</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>

                        {% for attendance in attendances %} {% if attendance.sub == classroom.subject %} {% if attendance.student_name == request.user.username %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ attendance.student_no }}</td>
                            <td>{{ attendance.course }}</td>
                            <td>{{ attendance.grade_year }}</td>
                            <td>{{ attendance.block_section }}</td>
                            <td>{{ attendance.sub }}</td>
                            <td>{{ attendance.status }}</td>
                            <td>{{ attendance.date }}</td>
                            <td>{{ attendance.time }}</td>
                            <td><a href="{% url 'students:delete_attendance' id=attendance.id %}" class="btn btn-pill text-black btn-block btn-danger" type="submit" id="header-links">Delete</a></td>
                        </tr>
                        {% endif %} {% endif%} {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}