{% extends 'students/base.html' %}
{% load static %}
{% load bootstrap4 %}
<!-- Title Heading -->
{% block title %}Profile Detail{% endblock title %}

<!-- Start Content Block -->
{% block content %}

<div class="container-fluid" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-body">
                <h3>Are you sure you want to delete this account?</h3><br>
                <a href="{% url 'students:delete_acc' id=user.id %}" class="btn btn-pill text-black btn-block btn-danger" type="submit" id="header-links">Yes</a>
                <a href="{% url 'students:profile' %}" class="btn btn-pill text-black btn-block btn-info" type="submit" id="header-links">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
