{% extends 'students/base.html' %} {% load static %} {% load bootstrap4 %} {% block title %}Profile Detail{% endblock title %} {% block content %}
<div class="container-fluid">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="p-5">
                <div class="text-center">
                    <h3> Change your profile picture! </h3><br>
                    <h5>Update profile picture (use a clear picture)<br> &nbsp; Use front view pictures (avoid using filters)<br> &nbsp; &nbsp; To uploud new picture, click the 'Choose File' <br> box then choose a picture.</h5>
                </div>
                <div class="p-5" style="text-align: center;">
                    <img class="rounded-circle account-img profile-image" src="{{user.students.picture.url}}" style="width: 130px ;height: 130px;" alt="{{user.username}}" class="img-responsive" />
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %} {{form.as_p}}
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </form>
                </div>
                <div class="text-center">
                    <h6>*After re-uploading the picture, please re-login to refresh.<br> &nbsp;</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}