{% extends 'teachers/base.html' %}
{% load static %}
{% load bootstrap4 %}
<!-- Title Heading -->
{% block title %}Add Student Attendance{% endblock title %}

<!-- Start Content Block -->
{% block content %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
            {{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
            {{ message }}
            </div>
        {% endif %}
    {% endfor %}
<div class="container-fluid">
    <h1 style="font-weight: bold;">{{ classroom.subject|upper }}</h1>
            <div class="card-body p-0">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-2">Take Attendance<br></h4>
                            </div>
                            <form action="{% url 'teachers:attendance' %}" method="post">
                                {% csrf_token %}
                                <p>*Student name should match to the username of your student's registered account.</p>
                                <div class="form-group">
                                    <input type="text" placeholder ="Student Name" class="form-control" value="{{ student_name }}" name="student_name">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder ="Student ID" class="form-control" value="{{ student_no }}" name="student_no">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder ="Course" class="form-control" value="{{ course }}" name="course">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder ="Grade/Year" class="form-control" value="{{ grade_year }}" name="grade_year">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder ="Block/Section" class="form-control" value="{{ block_section }}" name="block_section">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" readonly value="{{ classroom.subject }}" name="sub">
                                </div>
    
                                <button class="btn btn-primary d-block btn-user w-100" type="submit">open camera</button>
                            </form>
                            <p>*After clicking 'open camera' wait for it to appear and the click enter to close the camera.</p>
                        </div>
                </div>
            </div>
</div>

{% endblock content %}
