<!DOCTYPE html> {% load static %} {% load bootstrap4 %} {% bootstrap_messages %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes" />
    <title>Privacy Consent</title>
    <link rel="stylesheet" href="{% static 'accounts/bootstrap/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="bg-gradient-primary">
  <div class="w3-container w3-blue"> <br><br>
    <div class="card shadow-lg o-hidden border-0 my-5">
      <div class="card-body p-0">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h4 class="text-dark mb-4">Facecheck's Privacy Policy Agreement</h4>
              </div>
              <div>
                <h7 class="text-dark mb-4">We aim to comply with the Data Privacy Act of 2012 (DPA) and cooperate with National Privacy Comission (NPC). We value your privacy.</h7>
              </div>
              <br>
              <div>
                <h7 class="text-dark mb-4">We collect and use your profile information</h7><br>
                <h13 class="mb-1" style="width: 524.5px;">You give us information, such us first name, latname, student ID(for students), username, email address, password, and picture</h13>
              </div>
              <br>
              <div>
                <h7 class="text-dark mb-4">How We Use Information</h7><br>
                <h13 class="mb-1" style="width: 524.5px;">To properly produce student's attendance record.</h13><br>
                <h13 class="mb-1" style="width: 524.5px;">To maintain student's attendance data.</h13>
              </div>
              <br>
              <div>
                <h7 class="text-dark mb-4">Security: HTTPS and Encryption</h7><br
                <h13 class="mb-1" style="width: 524.5px;">We maintain physical and security of your personal user data and other information transmitted to us. However, no data transmission over the internet or other network can be guaranteed to be 100% secure.</h13>
              </div>
              <br>
              <div>
                <h7 class="text-dark mb-4">How is children's personal information treated?</h7><br>
                <h13 class="mb-1" style="width: 524.5px;">If you are 13 years old and under, you may consult your parent or guardian before you disclose information to us. Your teacher or school administrator can view all information within or associated with your account.</h13>
              </div>
              <br>
              <div>
                <h7 class="text-dark mb-4">Click the check box in registration page if you agree with the statement above</h7>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
